<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container">
        <form>
        
        </form
    </main>
    <%- include('../includes/end.ejs') %>