<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container">
        <h1>Users</h1>
        <%  if (users.length > 0){ %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">User Type</th>
                        <th scope="col">User Change</th>
                        <th scope="col">Active?</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let user of users) { %>
                        <tr>
                            <th scope="row"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <select name="user-types" id="user-type-select" class="form-select">
                                    <option value="">Admin</option>
                                    <option value="">Dealer</option>
                                    <option value="">User</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                    <% } %>

                </tbody>
            </table>
        <% } else { %>
            <h2> No Users Found!</h2>
            <% } %>
        
    </main>
    <%- include('../includes/end.ejs') %>