<header>    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Express Autos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"><a href="/" class="nav-link active">Virtual Lot</a></li>
                    <li class="nav-item"><a href="#" class="nav-link ">Wish List</a></li>
                    <li class="nav-item"><a href="#" class="nav-link ">About Us</a></li>
                    <%/*<li class="nav-item"><a href="/admin" class="nav-link ">Admin</a></li>*/%>
                    <li class="nav-item"><a href="/admin/vehicles" class="nav-link ">Admin-Vehicles</a></li>
                    <li class="nav-item"><a href="/admin/add-vehicle" class="nav-link ">Add Vehicle (Admin)</a></li>

                </ul>
                    <span class="d-flex">
                    <a href="/signup" class="nav-item me-3 nav-link">SignUp</a>&nbsp;<span class="nav-link">|</span>&nbsp;<a href="/login" class="nav-item me-3 nav-link">Login</a>
                    </span>
            </div>
        </div>
    </nav>